<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/customers/edit/<%=data[0].id%>">
                <table cellpadding="11">
                <tr>
                    <td class="label">Имя</td><td>: <input type="text" name="name" value="<%=data[0].name%>" required></td>
                 </tr>
                 <tr>
                    <td class="label">Фамилия</td><td>: <input type="text" name="family" value="<%=data[0].family%>" required></td>
                </tr>
                <tr>
                    <td class="label">Логин</td><td>: <input type="text" name="login" value="<%=data[0].login%>" required></td>
                 </tr>
                  <tr>
                    <td class="label">Пароль</td><td>: <input type="text" name="password" value="<%=data[0].password%>" required></td>
                 </tr>
                  <tr>
                    <td class="label">Город</td><td>: <input type="text" name="city" value="<%=data[0].city%>" required></td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Сохранить">
                       <input type="button" name="cancel" value="Отменить" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>
